Repository MOONSHOT-Team/MOONSHOT-CLIENT, pull requests merged in 2024-01, with the labels that each got.

#10 [project] eslint/prettier 초기세팅
  .eslintrc.cjs
  .prettierrc.json
  package.json
  src/App.tsx
  yarn.lock
Labels: ⚙ Setting

#17 [project] husky 초기세팅
  .husky/pre-commit
  package.json
  src/App.tsx
  src/svg.d.ts
  yarn.lock
Labels: ⚙ Setting

#20 [project] metadata 추가
  index.html
  manifest.webmanifest
  package.json
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/icon.svg
  public/imgOg.png
  src/App.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: ⚙ Setting

#25 [Project-docs] 리드미 1차 수정
  README.md
Labels: 📃 Docs

#24 [project] 스타일가이드 추가
  .eslintrc.cjs
  index.html
  package.json
  src/App.tsx
  src/common/styles/emotion.d.ts
  src/common/styles/globalStyles.ts
  src/common/styles/theme.ts
  yarn.lock
Labels: ⚙ Setting, 🎨 Design

#27 [project] router 설정
  package.json
  src/AddOkr/index.tsx
  src/App.tsx
  src/History/index.tsx
  src/Home/index.tsx
  src/MainDashBoard/index.tsx
  src/PreviewOkr/index.tsx
  src/Router.tsx
  src/SignIn/index.tsx
  src/Social/index.tsx
  src/common/components/.gitkeep
  src/common/components/Error/index.tsx
  src/common/components/layout/Drawer/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  src/main.tsx
  yarn.lock
Labels: ⚙ Setting

#52 [Project] 폰트설정 수정 + inline css 오류 잡기
  .eslintrc.cjs
  package.json
  src/common/styles/globalStyles.ts
  src/common/styles/reset.ts
  src/common/styles/theme.ts
  src/main.tsx
  src/vite-env.d.ts
  yarn.lock
Labels: ⚙ Setting, 🐞 BugFix

#29 [project] swr 설치
  package.json
  src/AddOkr/index.tsx
  src/History/index.tsx
  src/Home/index.tsx
  src/MainDashBoard/index.tsx
  src/PreviewOkr/index.tsx
  src/Router.tsx
  src/SignIn/index.tsx
  src/Social/index.tsx
  src/common/apis/fetcher.ts
  src/common/components/Error/index.tsx
  src/common/components/layout/Drawer/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  yarn.lock
Labels: ⚙ Setting, 📬 API

#63 [mainDashboard] main dashboard 레이아웃 UI 구현
  .stylelintrc.json
  package.json
  src/MainDashBoard/components/mainDashBoardDrawer/MainDashBoardDrawer.tsx
  src/MainDashBoard/components/sideSheet/SideSheet.tsx
  src/MainDashBoard/index.tsx
  src/Router.tsx
  src/common/components/layout/Drawer/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  yarn.lock
Labels: 🎨 Design, 🪧 MainDashboard

#64 [Common] OKR 트리 컴포넌트
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/PreviewOkr/index.tsx
  src/Router.tsx
  src/common/components/OkrTree/Lines/NodeLines.tsx
  src/common/components/OkrTree/Lines/StraightLine.tsx
  src/common/components/OkrTree/Nodes/CommonOkrNodes.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrContainer.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrTaskContainer.tsx
  src/common/components/OkrTree/Template/OkrTreeTemplate.tsx
  src/common/constants/MOCK_OKR_DATA.ts
  src/common/styles/OkrTree/CommonNodeStyle.tsx
  src/common/type/OkrTree/KeyResultTypes.ts
  src/common/type/OkrTree/TasksTypes.ts
Labels: 🎨 Design, 👨‍👩‍👧‍👦 Common

#67 [previewOkr] 알림 메시지 컴포넌트
  src/PrviewOkr/components/PreviewOkrAlertMsg.tsx
  src/common/assets/icons/icNotice.svg
  src/common/assets/icons/index.ts
  src/common/styles/theme.ts
Labels: 🎨 Design, 🔮 previewOkr

#70 Main dashboard/#44/side sheet upper
  package.json
  src/MainDashBoard/assets/icons/icClose.svg
  src/MainDashBoard/assets/icons/icDoneState.svg
  src/MainDashBoard/assets/icons/icDropDownThin.svg
  src/MainDashBoard/assets/icons/icDropUpThin.svg
  src/MainDashBoard/assets/icons/icHoldState.svg
  src/MainDashBoard/assets/icons/icOnGoingState.svg
  src/MainDashBoard/assets/icons/icWaitState.svg
  src/MainDashBoard/assets/icons/index.ts
  src/MainDashBoard/components/KRPeriodSelect.tsx
  src/MainDashBoard/components/sideSheet/KrStatus.tsx
  src/MainDashBoard/components/sideSheet/SideSheet.tsx
  src/MainDashBoard/index.tsx
  src/common/styles/globalStyles.ts
  src/common/styles/theme.ts
  yarn.lock
Labels: 🎨 Design, ✨ Feature, 🪧 MainDashboard, 🍟 SideSheet

#68 [Common] Header 구현
  src/My/index.tsx
  src/Router.tsx
  src/common/assets/icons/ImgLogo.svg
  src/common/assets/icons/index.ts
  src/common/components/layout/Header/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  src/common/constants/.gitkeep
  src/common/constants/NavigationLink.ts
  src/common/styles/globalStyles.ts
  src/common/styles/theme.ts
  src/common/type/.gitkeep
  src/common/type/Navigation.ts
Labels: 🎨 Design, ✨ Feature

#71 [mainDashboard] side sheet 체크인로그
  src/MainDashBoard/components/sideSheet/CheckInLogs.tsx
  src/MainDashBoard/components/sideSheet/SideSheet.tsx
  src/MainDashBoard/constants/KrDetailData.ts
  src/MainDashBoard/type/CheckInLogTypes.ts
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/PreviewOkr/index.tsx
  src/Router.tsx
  src/common/components/OkrTree/Lines/NodeLines.tsx
  src/common/components/OkrTree/Lines/StraightLine.tsx
  src/common/components/OkrTree/Nodes/CommonOkrNodes.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrContainer.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrTaskContainer.tsx
  src/common/components/OkrTree/Template/OkrTreeTemplate.tsx
  src/common/constants/MOCK_OKR_DATA.ts
  src/common/styles/OkrTree/CommonNodeStyle.tsx
  src/common/styles/globalStyles.ts
  src/common/type/OkrTree/KeyResultTypes.ts
  src/common/type/OkrTree/TasksTypes.ts
Labels: 🎨 Design, 🪧 MainDashboard, 🍟 SideSheet

#74 [modal] modal 템플릿 생성
  index.html
  src/common/components/Modal/index.tsx
  src/common/hooks/useModal.tsx
Labels: 🎨 Design

#79 [common] 글자 수 제한 & 실시간 글자수 나타내는 공통 util 함수 생성
  package.json
  src/common/utils/.gitkeep
  src/common/utils/limitMaxLength.ts
  yarn.lock
Labels: ✨ Feature, 👨‍👩‍👧‍👦 Common

#76 [PreviewOkr] preview-okr 페이지 퍼블리싱, input 관련 기능 + okr tree 구조 수정
  package.json
  src/PreviewOkr/assets/icons/icPlusSmall.svg
  src/PreviewOkr/assets/icons/index.ts
  src/PreviewOkr/components/PreviewOkrAlertMsg.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewObjNode.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/PreviewOkr/index.tsx
  src/common/components/OkrTree/Nodes/CommonObjNode.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrContainer.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrTaskContainer.tsx
  src/common/components/OkrTree/Template/OkrTreeTemplate.tsx
  src/common/components/input/DynamicInput.tsx
  src/common/styles/OkrTree/CommonNodeStyle.tsx
  src/common/type/OkrTree/TasksTypes.ts
  yarn.lock
Labels: 🎨 Design, 🔮 previewOkr

#88 [common] progress bar
  src/MainDashBoard/index.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/PreviewOkr/index.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrContainer.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrTaskContainer.tsx
  src/common/components/ProgressBar/index.tsx
  src/common/styles/theme.ts
Labels: 🎨 Design, ✨ Feature, 👨‍👩‍👧‍👦 Common

#89 [history] progressBar
  package.json
  src/History/components/ProgressBar.tsx
  src/My/index.tsx
  src/PreviewOkr/assets/icons/icPlusSmall.svg
  src/PreviewOkr/assets/icons/index.ts
  src/PreviewOkr/components/PreviewOkrAlertMsg.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewObjNode.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/PreviewOkr/index.tsx
  src/Router.tsx
  src/common/assets/icons/ImgLogo.svg
  src/common/assets/icons/icNotice.svg
  src/common/assets/icons/index.ts
  src/common/components/OkrTree/Nodes/CommonObjNode.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrContainer.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrTaskContainer.tsx
  src/common/components/OkrTree/Template/OkrTreeTemplate.tsx
  src/common/components/input/DynamicInput.tsx
  src/common/components/layout/Header/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  src/common/constants/.gitkeep
  src/common/constants/NavigationLink.ts
  src/common/styles/OkrTree/CommonNodeStyle.tsx
  src/common/styles/globalStyles.ts
  src/common/styles/theme.ts
  src/common/type/.gitkeep
  src/common/type/Navigation.ts
  src/common/type/OkrTree/TasksTypes.ts
  src/common/utils/.gitkeep
  src/common/utils/limitMaxLength.ts
  yarn.lock
Labels: 🎨 Design, ✨ Feature, 👣History

#94 [mainDashborad] 메인대시보드 트리
  src/MainDashBoard/assets/icons/icDrag.svg
  src/MainDashBoard/assets/icons/index.ts
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashKrNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashObjectNode.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashTaskNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashboardOKRTree.tsx
  src/MainDashBoard/constants/MOCK_MAIN_OKR_DATA.ts
  src/MainDashBoard/index.tsx
  src/common/components/OkrTree/Template/KrTemplate/KrContainer.tsx
  src/common/components/layout/Header/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  src/common/type/OkrTree/KeyResultTypes.ts
  src/common/type/OkrTree/TasksTypes.ts
Labels: 🎨 Design, 🪧 MainDashboard

#85 [AddOkr] AddOkr Step 1 - okr 추가 선택 방식 컴포넌트 UI 구현
  src/AddOkr/components/selectMethod/SelectMethodBtn.tsx
  src/AddOkr/components/step/SelectMethod.tsx
  src/AddOkr/constants/SELECT_METHOD_OPTIONS.ts
  src/AddOkr/index.tsx
  src/Router.tsx
Labels: 🎨 Design, ➕ AddOkr

#86 [MainDashboard] 달성 완료 축하 모션
  package.json
  src/MainDashBoard/components/celebrateMotion/CelebrateMotion.tsx
  src/MainDashBoard/index.tsx
  src/common/assets/lotties/congratulation.json
  yarn.lock
Labels: 🎨 Design, 🪧 MainDashboard

#83 [previewOKR] preview okr modal UI 및 기능 구현
  src/PreviewOkr/components/PreviewModal.tsx
  src/common/components/Modal/index.tsx
  src/common/hooks/.gitkeep
  src/common/styles/theme.ts
Labels: 🎨 Design, 🗿 Modal

#104 [signIn] 로그인 기능 구현
  .gitignore
  package.json
  src/Auth/AuthGoogle.tsx
  src/Auth/AuthKakao.tsx
  src/Auth/apis/fetcher.ts
  src/Auth/type/index.ts
  src/Router.tsx
  src/SignIn/index.tsx
  src/common/apis/fetcher.ts
  src/common/apis/instance.ts
  src/main.tsx
  yarn.lock
Labels: ✨ Feature, 🪵 SignIn

#91 [mainDashboard] sidesheet 입력창 부분
  .gitignore
  package.json
  src/Auth/AuthGoogle.tsx
  src/Auth/AuthKakao.tsx
  src/Auth/apis/fetcher.ts
  src/Auth/type/index.ts
  src/MainDashBoard/components/sideSheet/CheckInLogs.tsx
  src/MainDashBoard/components/sideSheet/KRPeriodSelect.tsx
  src/MainDashBoard/components/sideSheet/KrStatus.tsx
  src/MainDashBoard/components/sideSheet/SideSheet.tsx
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckIn.tsx
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckInInputs.tsx
  src/NickName/index.tsx
  src/Router.tsx
  src/SignIn/assets/images/imgGoogleLogin.png
  src/SignIn/assets/images/imgKakaoLogin.png
  src/SignIn/index.tsx
  src/common/apis/fetcher.ts
  src/common/apis/instance.ts
  src/common/assets/images/imgWordmarkWhite.png
  src/common/components/ProgressBar/index.tsx
  src/common/hooks/useModal.tsx
  src/common/styles/globalStyles.ts
  src/common/styles/theme.ts
  src/main.tsx
  yarn.lock
Labels: 🎨 Design, ✨ Feature, 🪧 MainDashboard, 🍟 SideSheet

#93 [AddOkr] obj Title + category 선택하는 첫번째 step 뷰 ui 개발
  src/AddOkr/assets/icons/icCheck.svg
  src/AddOkr/assets/icons/index.ts
  src/AddOkr/components/objTitleCateg/ObjCategTag.tsx
  src/AddOkr/components/step/ObjTitleCateg.tsx
  src/AddOkr/constants/GUIDE_OBJ_TITLE_PLACEHOLDER.ts
  src/AddOkr/constants/OBJ_CATEG_LIST.ts
  src/AddOkr/index.tsx
  src/common/styles/globalStyles.ts
Labels: 🎨 Design, ➕ AddOkr

#96 [AddOkr] Step 2 - 목표 기간 설정 뷰 ui
  package.json
  src/AddOkr/assets/icons/icCalender.svg
  src/AddOkr/assets/icons/index.tsx
  src/AddOkr/components/objPeriod/PeriodBtn.tsx
  src/AddOkr/components/objPeriod/PeriodSelectInput.tsx
  src/AddOkr/components/step/ObjPeriod.tsx
  src/AddOkr/index.tsx
  src/AddOkr/utils/addMonth.tsx
  src/AddOkr/utils/returnParseDate.tsx
  yarn.lock
Labels: 🎨 Design, ➕ AddOkr

#72 [History] drawer ui & 테마 기능
  src/History/assets/icons/CheckIcon.svg
  src/History/assets/icons/index.ts
  src/History/components/HistoryDrawer.tsx
  src/History/components/ProgressBar.tsx
  src/History/components/ThemeButton.tsx
  src/History/components/YearButton.tsx
  src/History/constants/dummyData.ts
  src/History/constants/theme.ts
  src/History/index.tsx
  src/History/type/historyData.ts
  src/MainDashBoard/index.tsx
  src/common/components/ProgressBar/index.tsx
  src/common/styles/theme.ts
Labels: 🎨 Design, ✨ Feature, 👣History

#103 [AddOkr] step 4 - KR 추가 뷰 구현
  src/AddOkr/assets/icClose.svg
  src/AddOkr/assets/icPlusExtralarge.svg
  src/AddOkr/assets/index.ts
  src/AddOkr/components/addKr/GuideFirstKeyResultCard.tsx
  src/AddOkr/components/addKr/GuideSecondKeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultPeriodInput.tsx
  src/AddOkr/components/addKr/KeyResultPlusCard.tsx
  src/AddOkr/index.tsx
  src/AddOkr/step/AddGuideKr.tsx
  src/AddOkr/step/AddKr.tsx
  src/AddOkr/styles/KeyResultCardStyle.tsx
  src/common/styles/theme.ts
  yarn.lock
Labels: 🎨 Design, ➕ AddOkr

#97 [AddOkr] Step 3- 목표 달성 내용 작성 뷰 구현
  src/AddOkr/index.tsx
  src/AddOkr/step/ObjContent.tsx
Labels: 🎨 Design, ➕ AddOkr

#109 [error] error page 퍼블리싱
  src/common/assets/icons/IcLogo.svg
  src/common/assets/icons/index.ts
  src/common/components/Error/assets/imgSymbolBlack.png
  src/common/components/Error/index.tsx
  src/common/components/layout/Header/index.tsx
  src/common/components/layout/MainLayout/index.tsx
Labels: 🎨 Design

#110 [social] 소셜 페이지
  src/MainDashBoard/components/sideSheet/KRPeriodSelect.tsx
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckInInputs.tsx
  src/Social/assets/icons/icLike.svg
  src/Social/assets/icons/icLikeFill.svg
  src/Social/assets/icons/index.ts
  src/Social/assets/imgs/index.ts
  src/Social/assets/imgs/userImg1.png
  src/Social/assets/imgs/userImg2.png
  src/Social/assets/imgs/userImg3.png
  src/Social/assets/imgs/userImg4.png
  src/Social/components/socialDrawer/ProfileCard.tsx
  src/Social/components/socialDrawer/SocialDrawer.tsx
  src/Social/components/socialOkrTree/SocialKrNodes.tsx
  src/Social/components/socialOkrTree/SocialOKRTree.tsx
  src/Social/components/socialOkrTree/SocialObjectNode.tsx
  src/Social/components/socialOkrTree/SocialTaskNodes.tsx
  src/Social/constants/MOCK_SOCIAL_DATA.ts
  src/Social/index.tsx
  src/Social/types/socialDataType.ts
  src/common/components/layout/MainLayout/index.tsx
  src/common/styles/OkrTree/CommonNodeStyle.tsx
  src/common/type/OkrTree/TasksTypes.ts
Labels: 🎨 Design, ✨ Feature, 👨‍👩‍👧‍👦 Social

#116 [signIn] nickname 로직 구현
  src/Auth/AuthGoogle.tsx
  src/Auth/AuthKakao.tsx
  src/Auth/apis/fetcher.ts
  src/Auth/type/index.ts
  src/NickName/apis/fetcher.ts
  src/NickName/index.tsx
  src/common/apis/instance.ts
Labels: ✨ Feature, 🪵 SignIn

#124 [onboarding] header UI 구현
  src/Home/index.tsx
  src/Onboarding/components/TeamMoonshot.tsx
  src/Onboarding/components/layout/OnboardingHeader.tsx
  src/Onboarding/components/layout/OnboardingLayout.tsx
  src/Onboarding/constants/NAV_ITEMS.ts
  src/Onboarding/index.tsx
  src/Router.tsx
  src/common/assets/images/imgLogo.png
Labels: 🎨 Design, 🏚️ Onboarding

#122 [MainDashboard] drawer 아이템 우클릭 팝업 기능 구현
  src/MainDashBoard/assets/icons/icComplete.svg
  src/MainDashBoard/assets/icons/icTrash.svg
  src/MainDashBoard/assets/icons/index.ts
  src/MainDashBoard/components/mainDashBoardDrawer/GoalItem.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/MainDashBoardDrawer.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/RightClickBox.tsx
  src/MainDashBoard/hooks/useContextMenu.tsx
  src/common/styles/theme.ts
Labels: 🎨 Design, ✨ Feature, 🪧 MainDashboard

#105 [My] my페이지 UI
  .gitignore
  package.json
  src/Auth/AuthGoogle.tsx
  src/Auth/AuthKakao.tsx
  src/Auth/apis/fetcher.ts
  src/Auth/type/index.ts
  src/My/assets/images/item1.png
  src/My/assets/images/item2.png
  src/My/assets/images/item3.png
  src/My/assets/images/item4.png
  src/My/assets/images/item5.png
  src/My/assets/images/item6.png
  src/My/assets/images/item7.png
  src/My/assets/images/item8.png
  src/My/assets/images/profileImg.png
  src/My/constants/itemList.ts
  src/My/index.tsx
  src/NickName/index.tsx
  src/Router.tsx
  src/SignIn/assets/images/imgGoogleLogin.png
  src/SignIn/assets/images/imgKakaoLogin.png
  src/SignIn/index.tsx
  src/common/apis/fetcher.ts
  src/common/apis/instance.ts
  src/common/assets/images/imgWordmarkWhite.png
  src/common/components/layout/Header/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  src/common/styles/globalStyles.ts
  src/main.tsx
  yarn.lock
Labels: 🎨 Design, 😳My

#98 [History] dropDown UI
  .gitignore
  package.json
  src/Auth/AuthGoogle.tsx
  src/Auth/AuthKakao.tsx
  src/Auth/apis/fetcher.ts
  src/Auth/type/index.ts
  src/History/assets/icons/CloseDropDownIcon.svg
  src/History/assets/icons/DropDownIcon.svg
  src/History/assets/icons/FilteringIcon.svg
  src/History/assets/icons/index.ts
  src/History/components/HistoryDrawer.tsx
  src/History/components/HistoryProgressBar/index.tsx
  src/History/components/dropDown/HistoryList.tsx
  src/History/components/dropDown/HistoryListDetails.tsx
  src/History/components/dropDown/KeyResultList.tsx
  src/History/components/dropDown/ListOrder.tsx
  src/History/components/dropDown/TaskList.tsx
  src/History/constants/dummy.ts
  src/History/constants/orderList.ts
  src/History/index.tsx
  src/History/type/historyData.ts
  src/History/type/okrTypes.ts
  src/NickName/index.tsx
  src/Router.tsx
  src/SignIn/assets/images/imgGoogleLogin.png
  src/SignIn/assets/images/imgKakaoLogin.png
  src/SignIn/index.tsx
  src/common/apis/fetcher.ts
  src/common/apis/instance.ts
  src/common/assets/images/imgWordmarkWhite.png
  src/common/components/layout/Header/index.tsx
  src/common/components/layout/MainLayout/index.tsx
  src/common/styles/globalStyles.ts
  src/common/styles/theme.ts
  src/main.tsx
  yarn.lock
Labels: 🎨 Design, ✨ Feature, 👣History

#120 [AddOkr] 플로우 연결
  src/AddOkr/components/addKr/GuideFirstKeyResultCard.tsx
  src/AddOkr/components/addKr/GuideSecondKeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultPeriodInput.tsx
  src/AddOkr/components/commonUse/StepBtns.tsx
  src/AddOkr/components/objPeriod/PeriodSelectInput.tsx
  src/AddOkr/components/objTitleCateg/ObjCategTag.tsx
  src/AddOkr/components/selectMethod/SelectMethodBtn.tsx
  src/AddOkr/components/stepLayout/AddGuideKr.tsx
  src/AddOkr/components/stepLayout/AddKr.tsx
  src/AddOkr/components/stepLayout/ObjContent.tsx
  src/AddOkr/components/stepLayout/ObjPeriod.tsx
  src/AddOkr/components/stepLayout/ObjTitleCateg.tsx
  src/AddOkr/components/stepLayout/SelectMethod.tsx
  src/AddOkr/constants/ADD_OKR_DATES.ts
  src/AddOkr/constants/GUIDE_OBJ_TITLE_PLACEHOLDER.ts
  src/AddOkr/constants/MAX_KR_LENGTH.ts
  src/AddOkr/constants/OBJ_CATEG_LIST.ts
  src/AddOkr/constants/OBJ_PERIOD_LIST.ts
  src/AddOkr/index.tsx
  src/AddOkr/styles/KeyResultCardStyle.tsx
  src/AddOkr/types/KrInfoTypes.ts
  src/AddOkr/types/ObjectInfoTypes.ts
  src/AddOkr/types/TaskInfoTypes.ts
  src/MainDashBoard/components/mainDashBoardDrawer/MainDashBoardDrawer.tsx
  src/MainDashBoard/index.tsx
  src/PreviewOkr/index.tsx
  src/common/styles/globalStyles.ts
  yarn.lock
Labels: 🎨 Design, ✨ Feature, ➕ AddOkr

#126 [onboarding] frame2 UI 구현
  src/Onboarding/assets/imgFrame2Tree.png
  src/Onboarding/components/frame/Frame2.tsx
  src/Onboarding/components/frame/FrameSection.tsx
  src/Onboarding/components/frame/TextField.tsx
  src/Onboarding/index.tsx
  src/Onboarding/styles/animation.ts
Labels: 🎨 Design, 🏚️ Onboarding

#135 [MainDashboard] 우클릭 시 삭제 구현
  src/MainDashBoard/apis/fetcher.ts
  src/MainDashBoard/components/mainDashBoardDrawer/GoalItem.tsx
  src/MainDashBoard/index.tsx
Labels: 📬 API, 🪧 MainDashboard

#131 [onboarding] frame3 UI 구현
  src/Onboarding/assets/imgFrame2Tree.png
  src/Onboarding/assets/imgFrame2TreeGraph.png
  src/Onboarding/assets/imgFrame3GradientBackground.png
  src/Onboarding/assets/imgFrame3Question1.png
  src/Onboarding/assets/imgFrame3Question2.png
  src/Onboarding/assets/imgFrame3Question3.png
  src/Onboarding/components/frame/Frame2.tsx
  src/Onboarding/components/frame/Frame3.tsx
  src/Onboarding/components/frame/FrameSection.tsx
  src/Onboarding/components/frame/TextField.tsx
  src/Onboarding/components/layout/OnboardingHeader.tsx
  src/Onboarding/index.tsx
  src/Onboarding/styles/animation.ts
  src/Onboarding/styles/common.ts
Labels: 🎨 Design, 🏚️ Onboarding

#143 [AddOkr] addOkr -> previewOkr 플로우 연결
  src/AddOkr/components/addKr/GuideFirstKeyResultCard.tsx
  src/AddOkr/components/addKr/GuideSecondKeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultCard.tsx
  src/AddOkr/components/stepLayout/ObjContent.tsx
  src/AddOkr/components/stepLayout/ObjTitleCateg.tsx
  src/AddOkr/index.tsx
  src/AddOkr/types/FinalKrListInfo.ts
  src/AddOkr/types/TaskInfoTypes.ts
  src/PreviewOkr/components/PreviewModal.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewObjNode.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/PreviewOkr/index.tsx
  src/common/components/Modal/index.tsx
  src/common/components/input/DynamicInput.tsx
Labels: ✨ Feature, ➕ AddOkr, 🔮 previewOkr

#161 Qa/#155/social qa
  src/Social/components/socialDrawer/ProfileCard.tsx
  src/Social/components/socialDrawer/SocialDrawer.tsx
  src/Social/components/socialOkrTree/SocialKrNodes.tsx
  src/Social/components/socialOkrTree/SocialTaskNodes.tsx
  src/Social/index.tsx
Labels: 👨‍👩‍👧‍👦 Social, 🙋🏻‍♀️ QA

#166 [QA] history 수정
  src/History/components/HistoryProgressBar/index.tsx
  src/History/components/dropDown/HistoryList.tsx
Labels: 👣History, 🙋🏻‍♀️ QA

#167 [QA] 마이 뷰 수정
  src/My/assets/images/item1.png
  src/My/assets/images/item2.png
  src/My/assets/images/item3.png
  src/My/assets/images/item4.png
  src/My/assets/images/item5.png
  src/My/assets/images/item6.png
  src/My/assets/images/item7.png
  src/My/assets/images/item8.png
  src/My/constants/itemList.ts
  src/My/index.tsx
Labels: 😳My, 🙋🏻‍♀️ QA

#168 [mainDashboard] api, flow
  src/MainDashBoard/apis/fetcher.ts
  src/MainDashBoard/assets/images/imgNoneOKR.png
  src/MainDashBoard/assets/images/index.ts
  src/MainDashBoard/components/celebrateMotion/CelebrateMotion.tsx
  src/MainDashBoard/components/drawer/DrawerModal.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/GoalItem.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/MainDashBoardDrawer.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/RightClickBox.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashTaskNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashboardOKRTree.tsx
  src/MainDashBoard/components/sideSheet/SideSheet.tsx
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckIn.tsx
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckInInputs.tsx
  src/MainDashBoard/index.tsx
  src/MainDashBoard/type/mainReqTypes.ts
  src/Social/components/socialOkrTree/SocialTaskNodes.tsx
  yarn.lock
Labels: 📬 API, 🪧 MainDashboard

#181 [signIn] 로그인 관련
  src/Nickname/index.tsx
  src/Onboarding/assets/teamMoonshot/imgTemMoonshotFooterLogo.png
  src/Onboarding/components/layout/OnboardingFooter.tsx
  src/Onboarding/components/layout/OnboardingHeader.tsx
  src/Onboarding/components/layout/OnboardingLayout.tsx
  src/Onboarding/components/teamMoonshot/TeamMoonshot.tsx
  src/Onboarding/index.tsx
  src/SignIn/assets/images/imgViewcollection.png
  src/common/components/Layout/Header/index.tsx
Labels: 🎨 Design, 🪵 SignIn

#180 [history] api 연결 및 flow 연결
  src/History/apis/fetcher.ts
  src/History/components/HistoryDrawer.tsx
  src/History/components/HistoryProgressBar/index.tsx
  src/History/components/YearButton.tsx
  src/History/components/dropDown/HistoryList.tsx
  src/History/components/dropDown/ListOrder.tsx
  src/History/components/dropDown/TaskList.tsx
  src/History/constants/dummy.ts
  src/History/index.tsx
  src/History/type/historyData.ts
  src/History/type/okrTypes.ts
  yarn.lock
Labels: ✨ Feature, 📬 API, 👣History

#194 [project] GA script 추가
  index.html
  package.json
  src/App.tsx
  yarn.lock
Labels: ✨ Feature

#198 [signIn] refresh token 로직 구현
  src/common/apis/getNewAccessToken.ts
  src/common/apis/instance.ts
Labels: ✨ Feature, 🪵 SignIn

#202 [history] UI 수정
  src/History/assets/icons/CloseDropDownIcon.svg
  src/History/assets/icons/index.ts
  src/History/components/dropDown/HistoryList.tsx
  src/History/components/dropDown/ListOrder.tsx
Labels: 🎨 Design
