Repository MOONSHOT-Team/MOONSHOT-CLIENT, pull requests merged in 2024-03, with the labels that each got.

#223 [SP1/refactor] login관련 QA
  src/SignIn/index.tsx
  src/Social/index.tsx
  src/common/components/Error/index.tsx
Labels: 🪵 SignIn, 🙋🏻‍♀️ QA, 1️⃣ SP1

#221 Refactor/#216/side sheet qa
  src/MainDashBoard/components/sideSheet/KrStatus.tsx
  src/MainDashBoard/components/sideSheet/SideSheet.tsx
  src/MainDashBoard/utils/handleProcessBarColor.ts
Labels: 🍟 SideSheet, 🙋🏻‍♀️ QA, 1️⃣ SP1

#222 [SP1/refactor] sideSheet checkIn 리팩토링, QA 반영
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckInInputs.tsx
  src/MainDashBoard/styles/mainDashBoardStyles.ts
Labels: 🍟 SideSheet, 🙋🏻‍♀️ QA, 1️⃣ SP1

#224 [SP1/Refactor] addOkr ~ previewOkr QA 사항 반영
  src/AddOkr/components/addKr/GuideFirstKeyResultCard.tsx
  src/AddOkr/components/addKr/GuideSecondKeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultPeriodInput.tsx
  src/AddOkr/components/objPeriod/PeriodSelectInput.tsx
  src/AddOkr/components/stepLayout/AddGuideFirstKr.tsx
  src/AddOkr/components/stepLayout/AddGuideSecondKr.tsx
  src/AddOkr/components/stepLayout/AddKr.tsx
  src/AddOkr/components/stepLayout/ObjContent.tsx
  src/AddOkr/components/stepLayout/ObjPeriod.tsx
  src/AddOkr/components/stepLayout/ObjTitleCateg.tsx
  src/AddOkr/components/stepLayout/SelectMethod.tsx
  src/AddOkr/constants/ADD_OKR_METHOD_N_STEP.ts
  src/AddOkr/constants/MAX_KR_LENGTH.ts
  src/AddOkr/constants/OBJ_PERIOD_LIST.ts
  src/AddOkr/constants/OKR_MAX_LENGTH.ts
  src/AddOkr/index.tsx
  src/AddOkr/types/FinalKrListInfo.ts
  src/AddOkr/types/KrInfoTypes.ts
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashKrNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashboardOKRTree.tsx
  src/MainDashBoard/index.tsx
  src/PreviewOkr/PreviewOkr.tsx
  src/PreviewOkr/components/PreviewModal.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/Router.tsx
  src/common/components/input/DynamicInput.tsx
  src/common/type/okrTree/KeyResultTypes.ts
Labels: 🔨 Refactor, ➕ AddOkr, 🔮 previewOkr, 1️⃣ SP1

#231 [refactor/okrDataChange] okrData 네이밍 변경 클라이언트 반영
  src/AddOkr/components/addKr/GuideFirstKeyResultCard.tsx
  src/AddOkr/components/addKr/GuideSecondKeyResultCard.tsx
  src/AddOkr/components/addKr/KeyResultCard.tsx
  src/AddOkr/index.tsx
  src/AddOkr/types/KrInfoTypes.ts
  src/AddOkr/types/TaskInfoTypes.ts
  src/History/components/HistoryDrawer.tsx
  src/History/components/dropDown/HistoryList.tsx
  src/History/index.tsx
  src/History/type/historyData.ts
  src/History/type/okrTypes.ts
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashKrNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashTaskNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashboardOKRTree.tsx
  src/PreviewOkr/PreviewOkr.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/Social/components/socialOkrTree/SocialKrNodes.tsx
  src/Social/components/socialOkrTree/SocialTaskNodes.tsx
  src/Social/constants/MOCK_SOCIAL_DATA.ts
  src/common/components/okrTree/template/krTemplate/KrContainer.tsx
  src/common/components/okrTree/template/krTemplate/KrTaskContainer.tsx
  src/common/type/okrTree/KeyResultTypes.ts
  src/common/type/okrTree/TasksTypes.ts
Labels: 🔨 Refactor, 1️⃣ SP1

#236 [SP1/feat] objective 추가, 삭제 모달 추가 구현
  src/MainDashBoard/components/mainDashBoardDrawer/GoalItem.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/MainDashBoardDrawer.tsx
  src/MainDashBoard/components/mainDashBoardDrawer/RightClickBox.tsx
  src/MainDashBoard/components/mainDashboardModal/CompleteObjConfirmModal.tsx
  src/MainDashBoard/components/mainDashboardModal/DeleteObjConfirmModal.tsx
  src/MainDashBoard/components/mainDashboardModal/DrawerModal.tsx
  src/MainDashBoard/constants/MAINDASHBOARD_MODAL_CASE.ts
  src/MainDashBoard/hooks/useContextMenu.tsx
  src/MainDashBoard/index.tsx
  src/MainDashBoard/type/objConfirmModalTypes.ts
  src/PreviewOkr/components/PreviewModal.tsx
  src/common/components/Modal/index.tsx
  src/common/components/Modal/template/ConfirmModalTemplate.tsx
Labels: ✨ Feature, 🗿 Modal, 1️⃣ SP1

#240 [Feat/edit okr] okr edit뷰 구현
  src/MainDashBoard/apis/fetcher.ts
  src/MainDashBoard/assets/icons/icAdd.svg
  src/MainDashBoard/assets/icons/icTrashPurple.svg
  src/MainDashBoard/assets/icons/index.ts
  src/MainDashBoard/components/editOkrTree/EditKrNodes.tsx
  src/MainDashBoard/components/editOkrTree/EditOKRTree.tsx
  src/MainDashBoard/components/editOkrTree/EditObjectNode.tsx
  src/MainDashBoard/components/editOkrTree/EditTaskNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/EditBtn.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashKrNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashObjectNode.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashboardOKRTree.tsx
  src/MainDashBoard/constants/OKRTREEVIEWS.ts
  src/MainDashBoard/index.tsx
  src/MainDashBoard/type/addTaskType.ts
  src/MainDashBoard/type/mainDashboardDataType.ts
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewKrNodes.tsx
  src/PreviewOkr/components/PreviewOkrTreeNodes/PreviewTaskNodes.tsx
  src/Social/components/socialOkrTree/SocialKrNodes.tsx
  src/common/components/input/DynamicInput.tsx
  src/common/components/okrTree/nodes/CommonObjNode.tsx
  src/common/components/okrTree/template/krTemplate/KrTaskContainer.tsx
Labels: ✨ Feature, 1️⃣ SP1

#245 [SP1/feat] KR 추가 삭제, Task 추가 삭제 관련 API 수정 사항 반영, 데이터 캐싱 반영(mutate)
  src/MainDashBoard/components/editModeModal/AddKrModal.tsx
  src/MainDashBoard/components/editOkrTree/EditKrNodes.tsx
  src/MainDashBoard/components/editOkrTree/EditObjectNode.tsx
  src/MainDashBoard/components/editOkrTree/EditTaskNodes.tsx
  src/MainDashBoard/components/mainDashBoardOkrTree/MainDashboardOKRTree.tsx
  src/MainDashBoard/components/sideSheet/KRPeriodSelect.tsx
  src/MainDashBoard/components/sideSheet/KrStatus.tsx
  src/MainDashBoard/components/sideSheet/krCheckIn/KrCheckInInputs.tsx
  src/MainDashBoard/type/addKrType.ts
  src/MainDashBoard/type/addTaskType.ts
  src/MainDashBoard/type/mainReqTypes.ts
Labels: 1️⃣ SP1, 🖌️ editOKR

#255 [SP1/refactor] KR 추가 모달 뒤로 datepicker 달력 나오는 이슈 해결
  src/AddOkr/components/addKr/KeyResultPeriodInput.tsx
  src/MainDashBoard/components/editModeModal/AddKrModal.tsx
  src/common/components/Modal/index.tsx
Labels: 🔨 Refactor, 1️⃣ SP1, 🖌️ editOKR
